body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.card {
    border-radius: 8px;

}

.card-header {
    background-color: #102130;
    text-transform: uppercase;
}

.card-title a {
    font-size: 1.2rem;
    color: #3a466e;
    font-weight: 600;
    transition: color 0.2s ease;
}

/* Ikoonid */
ul.list-unstyled li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

ul.list-unstyled li i {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #3a466e;
}

/*.shareholder-card-header {*/
/*    background-color: #102130;*/
/*}*/

.card-header.custom-header {
    background-color: #102130;
}

.res_card:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card.custom-card-shareholders {
    border-radius: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.card-header.custom-header-shareholders {
    background-color: #dee0e4;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


h2 {
    margin-bottom: 0;
}

/* Osanike vali */
#shareholders {
    background-color: #effcff;
}

#shareholders input[type="text"], input[type="checkbox"], input[type="number"] {
    border: 2px solid #ced4da; /* Õrn hall äär */
    border-radius: 4px; /* Kergelt ümarad nurgad */
    padding: 5px; /* Tekita rohkem ruumi väljasiseselt */
    color: #333; /* Tumehall tekst */
    transition: all 0.3s ease;
}

.save-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 7px 0;
}

.save-button:hover {
    background-color: #0056b3;
}

.submit-button {
    background-color: #102130;

}

.submit-button:hover {
    background-color: #102130;
}

.login-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 7px 0;
}

.login-button:hover {
    background-color: #dfdede;
}

.confirm-button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.confirm-button:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}


header {
    background-color: #102130;

    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}



main {
    padding: 20px;
}


/* Shareholderi vormi stiilid */
#shareholder-form {
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modern-input {

    font-size: 0.9rem;
    border: 1px solid #ced4da; /* Kerge hall ääris */
    border-radius: 0.5rem; /* Ümarad nurgad */
    background-color: #f9f9f9; /* Kerge taust */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sisemine vari */
    transition: all 0.3s ease-in-out;
}

.modern-input:focus {
    outline: none; /* Eemaldab brauseri sinise äärise */
    border-color: #007bff; /* Sinine ääris fokuseerimisel */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Pehme sinine vari */
    background-color: #fff; /* Valge taust fokuseerimisel */
}

.modern-input:hover {
    background-color: #f1f1f1; /* Kerge hover-efekt */
}


.form-label {
    font-size: 0.85rem;
    color: #495057; /* Tumedam hall */
    margin-bottom: 5px;
}

.custom-title {
    text-transform: uppercase;
}

/* Osanike tabeli stiilid */
.table {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.table thead th {
    font-weight: 500;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: 1px solid #fff;
}

.table thead th:last-child {
    border-right: none;
}

.table tbody tr {
    transition: background-color 0.2s ease-in-out;
}

.table tbody tr:hover {
    background-color: #f1f5ff;
}

.table tbody td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

.table tbody td input,
.table tbody td select {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.text-muted {
    font-style: italic;
    margin-top: 1rem;
}


/* Printimise osa---------------- */
@media print {
   footer {
       display: none;
   }
    header {
        display: none;
    }

    #print-button {
        display: none;
    }


}








